.main {
  margin: 64px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 24px;
  row-gap: 32px;
  margin: 0 auto 100px;
}
